.type {
  &__normal {
    background: #a8a877;
  }
  &__fire {
    background: #ef8030;
  }
  &__water {
    background: #6790f0;
  }
  &__grass {
    background: #78c84f;
  }
  &__electric {
    background: #f8cf30;
  }
  &__ice {
    background: #98d8d8;
  }
  &__fighting {
    background: #c03028;
  }
  &__poison {
    background: #9f409f;
  }
  &__ground {
    background: #e0c068;
  }
  &__flying {
    background: #a890f0;
  }
  &__psychic {
    background: #f85787;
  }
  &__bug {
    background: #a8b720;
  }
  &__rock {
    background: #868374;
  }
  &__ghost {
    background: #6f5898;
  }
  &__dark {
    background: #6f5848;
  }
  &__dragon {
    background: #7038f8;
  }
  &__steel {
    background: #b8b8d0;
  }
  &__fairy {
    background: #f0b5bc;
  }
}
