.poke-type {
  padding: 10px;
  border-radius: 1000px;
  min-width: 30%;
  font-weight: 700;
  text-align: center;
  color: $color-neutral;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px $color-neutral-800;
}
