.tooltip {
  position: absolute;
  top: -7rem;
  z-index: 4;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
}
@keyframes fadeIn {
  from {
    transform: translate3d(0, 2rem, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
